<!DOCTYPE html>
<html>
  <head>
    <title>EasyGarageBackend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render partial: 'components/flash_messages' %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= yield :body %>
  </body>
</html>
